body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #000000;
    height: 73px;
    text-align: center;
    overflow: hidden;
}

header h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    margin: 11.5px; /*Escribir con punto, no coma*/
}

#slider {
    height: 727px;
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content1 {
   background-color: #000000;
   color:#FFFFFF;
   font-family: 'Raleway';
   font-weight: 300;
   height: 348px;
}

.text1 {
   padding: 76px 106px 75px 150px;
   width: 35%;
   float: left;
}

.iguana1 {
   padding: 45px 150px 66px 0px;
   width: 27%;
}

.content2 {
   background-color: #1E1A13;
   color: #FFFFFF;
   text-align: center;
   height: 348px;
}

.text2 {
   font-size: 40px;
   text-align: center;
   padding: 1.5em;
}

.icon {
   font-size: 12px;
   padding: 2em;
   width: 15%;
   display: inline-block;
}

.text-icon {
   font-weight: 300;
   font-size: 24px;
   padding: 3px;
}

.content3 {
   height: 348px;
   text-align: center;
   background-color: #000000;
}

.imga {
   height: 202px;
   width: 316px;
   padding: 73px 16px 73px 180px; 
   float: left;
}

.imgb { 
   height: 202px;
   width: 316px;
   padding: 73px 14px 73px 0px; 
}

.imgc { 
   height: 202px;
   width: 316px;
   padding: 73px 180px 73px 0px; 
}

.footer {
   height: 102px;
   background-color: #1E1A13;
   color: #FFFFFF;
}

.footer-text {
   text-align: center;
   font-size: 20px;
   font-weight: 300;
   height: 24px;
   padding: 39px 299px;
}
/* Profe Christian: busqué lo de MEDIA SCREEN pero no lo entendí bien. Por eso no lo apliqué. Me costó asimilar esta materia, así que decidí dedicarme a estos contenidos prioritariamente.*/










